.subheader {
    display: flex; 
    justify-content: space-around; 
    font-size: 24px;
}

.main_list {
    width: 95%;
    display: flex; 
    flex-flow: row; 
    justify-content: left; 
    font-size: 20px; 
    margin: 5px 10px;
}

.sublist {
    width: 100%;
    padding: 0 40px;
    font-size: 17px;
    margin: 5px 15px;
}